nav#main-navbar ul{
  background-color: blue;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  float: left;
}

nav#main-navbar ul li {
  display: block;
  left: 50%;
  right: 50%;
  display: block;
  position: relative;
  width: 100%;
  float: left;
}

nav#main-navbar ul li a {
  text-decoration: none;
}

nav#main-navbar ul li a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: underline overline;
  position: relative;
  width: 100%;
  float: left;
}

#side-bar ul{
  position: fixed;
  list-style-type: fixed;
  padding: 50;
  margin: 500px;
  overflow: hidden;
  list-style-type: none;
}

#sidebar ul li{
  display:block;
  color:red;
  width: 100%;
  height: 100%;
}

#sidebar ul li a{
  float: right;
  background-color: red;
  text-align: center;
  border-radius: 200px;
  display:block;
}