nav#main-navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  right: 50%;
}

nav#main-navbar ul li {
  margin: 0 15px;
  display: block;
  left: 50%;
}

nav#main-navbar ul li a {
  display: block;
  background-color: Royalblue; 
  color: blue;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  border-radius:20px;
  position: relative;
  float: left;
}

nav#main-navbar ul li a:hover {
  background-color: #41169E1;
  color: GhostWhite;
  border-radius: 20px;
}

#side-bar ul{
  list-style-type: fixed;
  padding: 50;
  margin: 500px;
  overflow: hidden;
  list-style-type: none;
}

#sidebar ul li{
  display:block;
  color:red;
  width: 100%;
  height: 100%;
}

#sidebar ul li a{
  float: right;
  background-color: red;
  text-align: center;
  border-radius: 200px;
  display:block;
}