#main-navbar{
  background-color: blue;
  overflow: hidden;  
}

#navbar-container{
  width: 100%;
  float: left;
}
  
#main-navbar ul{
 
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  padding: 10px 20px;
  position: relative;
  float: left;
}

#main-navbar ul li {
  display: block;
  left: 50%;
  right: 50%;
  display: block;
  position: relative;
  width: 100%;
  float: left;
}

#main-navbar ul li a {
  text-decoration: none;
}

nav#main-navbar ul li a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: underline overline;
  position: relative;
  width: 100%;
  float: left;
}

#onpage{
	
}

#sidebar ul{
  list-style-type: fixed;
  padding: 50;
  list-style-type: none;
  text-align: center;
  
}

#sidebar ul li{
  display:block;
  width: 20%;
  height: 100%;
  padding: 15px 0;
  text-align: center
}

#sidebar ul li a{
  right: 0%;
  position: fixed;
  background-color: red;
}

#sidebar ul li a:hover {
  color:fff;
  text-decoration: none;
  background-color:#000;
padding: 0;
}